.activity {
  width: 720px;
  margin: 0 auto; }
  .activity .bannerBox {
    padding: 20px;
    margin: 20px auto 10px;
    background-color: #FFFFFF; }
    .activity .bannerBox img {
      width: 100%; }
  .activity .list li:first-child {
    border-right: 1px solid #e3e3e3; }
  .activity .list li {
    width: 50%;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    color: #555555;
    text-align: center;
    background-color: #FFFFFF; }
    .activity .list li a {
      display: inline-block;
      width: 100%;
      height: 100%; }
  .activity .tips {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 24px;
    color: #999; }
  .activity .coupon {
    padding: 20px 20px 20px 160px;
    background-color: #FFFFFF;
    position: relative; }
  .activity .couponImg {
    width: 120px;
    height: 120px;
    background-color: #d1d1d1;
    margin-left: -140px; }
  .activity .couponFont {
    width: 100%; }
    .activity .couponFont p {
      line-height: 64px; }
    .activity .couponFont p:first-child {
      font-size: 28px;
      color: #555; }
    .activity .couponFont p:last-child {
      font-size: 24px;
      color: #999; }
  .activity .pirce {
    font-size: 24px;
    color: #999999;
    line-height: 44px; }
  .activity .now {
    width: 110px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #ff8400;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 24px;
    font-size: 20px; }

.activityRule {
  width: 720px;
  margin: 0 auto; }
  .activityRule h3 {
    margin: 58px auto 42px;
    font-size: 28px;
    color: #555555;
    text-align: center; }
  .activityRule .activity {
    padding: 0 20px 30px; }
    .activityRule .activity h4 {
      font-size: 28px;
      color: #555;
      margin-bottom: 16px; }
  .activityRule .activityCont {
    font-size: 26px;
    color: #999;
    padding-left: 22px;
    line-height: 44px; }


.pageHome {
  width: 720px;
  margin: 0 auto; }
  .pageHome .search {
    width: 700px;
    height: 64px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .pageHome .search input {
      width: 100%;
      height: 100%;
      font-size: 22px;
      color: #999;
      background-color: #ebebeb;
      text-align: center; }
    .pageHome .search .searchImg {
      width: 20px;
      height: 20px;
      background: url("../images/iconfont-search.png") 0 0 no-repeat;
      background-size: contain;
      left: 289px; }
  .pageHome .swiper-container {
    width: 100%;
    height: 300px; }
  .pageHome .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .pageHome .swiper-slide img {
    width: 100%;
    height: 100%; }
  .pageHome .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #e5e5e5;
    opacity: 1; }
  .pageHome .swiper-pagination-bullet-active {
    background-color: #ff8400; }
  .pageHome .swiper-container-horizontal > .swiper-pagination {
    bottom: 15px; }
  .pageHome .localClass {
    background-color: #fff;
    margin-top: 10px; }
    .pageHome .localClass .classList {
      width: 640px;
      margin: 0 auto;
      overflow: hidden; }
      .pageHome .localClass .classList ul {
        width: 680px;
        margin-top: 20px; }
      .pageHome .localClass .classList li {
        width: 100px;
        float: left;
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
        margin-right: 35px; }
      .pageHome .localClass .classList .icon {
        width: 72px;
        height: 72px;
        margin: 0 auto; }
        .pageHome .localClass .classList .icon img {
          width: 100%; }
      .pageHome .localClass .classList .font {
        margin-top: 15px;
        font-size: 22px;
        color: #555; }
  .pageHome .title {
    height: 79px;
    padding: 0 22px;
    border-bottom: 1px solid #e3e3e3; }
    .pageHome .title .name {
      font-size: 28px;
      color: #555;
      position: relative; }
    .pageHome .title .more {
      font-size: 22px;
      color: #999;
      position: relative;
      background: url("../images/left-arrow.png") right 0 no-repeat;
      background-size: contain;
      padding-right: 20px; }
  .pageHome .discount {
    margin-top: 20px;
    background-color: #FFFFFF; }
  .pageHome .cont {
    padding: 20px 20px 0 20px;
    overflow: hidden; }
    .pageHome .cont a {
      display: block;
      height: 200px;
      margin-bottom: 20px;
      overflow: hidden; }
      .pageHome .cont a img {
        width: 100%; }
  .pageHome .Countdown a {
    width: 468px; }
  .pageHome .countDown {
    width: 202px;
    height: 200px;
    background: url("../images/Countdown.png") 0 0 no-repeat;
    background-size: contain; }
  .pageHome .conuntdown {
    word-spacing: -1px;
    font-size: 0;
    text-align: center;
    margin-top: 110px; }
    .pageHome .conuntdown span {
      display: inline-block;
      width: 46px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      color: #ff8400;
      background: #1d1d1d;
      text-align: center;
      font-size: 24px;
      border-radius: 5px; }
    .pageHome .conuntdown .dot {
      width: 25px;
      color: #333;
      background: transparent; }
  .pageHome .localMall {
    margin-top: 20px;
    background-color: #FFFFFF; }
  .pageHome .goodsList {
    margin-left: 20px;
    padding: 20px 20px 20px 134px;
    border-bottom: 1px solid #e3e3e3; }
  .pageHome .goodsImg {
    width: 134px;
    height: 100px;
    margin-left: -134px; }
    .pageHome .goodsImg img {
      width: 100%; }
  .pageHome .goodsOut {
    width: 100%;
    padding-left: 20px; }
  .pageHome .goodsName {
    margin-top: 15px;
    margin-bottom: 15px; }
  .pageHome .goodsname {
    font-size: 28px;
    color: #555555;
    line-height: 100%; }
  .pageHome .position {
    font-size: 24px;
    color: #999;
    line-height: 100%; }
  .pageHome .goodspirce {
    color: #ff8400;
    font-size: 28px;
    line-height: 100%; }
  .pageHome .saleNumb {
    color: #555555;
    font-size: 24px; }

.message {
  width: 720px;
  margin: 20px auto 0;
  background-color: #FFFFFF; }
  .message .message_out {
    padding: 20px 0 20px 20px; }
  .message .dianping {
    width: 70px;
    height: 70px;
    background: url("../images/dianping.png") 0 0 no-repeat;
    background-size: contain; }
  .message .messCont {
    border-bottom: 1px solid #e3e3e3;
    width: 610px;
    height: 109px;
    padding-right: 20px; }
    .message .messCont p {
      color: #999;
      font-size: 24px;
      line-height: 100%; }
  .message .title {
    margin-bottom: 24px; }
  .message .name {
    color: #555555;
    font-size: 28px;
    line-height: 100%; }
  .message .time {
    color: #999;
    font-size: 20px;
    line-height: 100%; }

p, a, span {
  line-height: 100%; }

.moreBenefits {
  width: 720px;
  margin: 20px auto 0;
  background-color: #FFFFFF;
  padding-left: 20px; }
  .moreBenefits .benefitsBox {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #e3e3e3; }
    .moreBenefits .benefitsBox .now {
      width: 114px;
      height: 40px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      right: 20px;
      line-height: 40px;
      background-color: #ff8400;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .moreBenefits .benefitsBox .clickActive {
      background-color: #e3e3e3; }
  .moreBenefits .benefitsBox:last-child {
    border-bottom: none; }
  .moreBenefits .benefitsImg {
    width: 134px;
    height: 100px;
    margin-right: 20px; }
  .moreBenefits .benefitsFont {
    font-size: 24px;
    color: #999; }
    .moreBenefits .benefitsFont .mt {
      margin-top: -8px; }
    .moreBenefits .benefitsFont .numb {
      font-size: 36px;
      color: #ff8400; }
    .moreBenefits .benefitsFont .p {
      margin: 12px auto; }

.receiveCoupon {
  width: 720px;
  margin: 0 auto; }
  .receiveCoupon .couponBox {
    width: 680px;
    height: 246px;
    margin: 20px auto;
    background-color: #f78f05;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 5px #d2d1ce;
    -moz-box-shadow: 0 10px 5px #d2d1ce;
    box-shadow: 0 5px 10px #d2d1ce;
    /*no*/
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .receiveCoupon .couponBox h3 {
      font-size: 24px;
      margin: 38px auto 48px;
      line-height: 100%; }
  .receiveCoupon .extras {
    font-size: 29px;
    line-height: 100%; }
    .receiveCoupon .extras span {
      font-size: 46px; }
  .receiveCoupon .validity {
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    position: absolute;
    background: url("../images/opacity.png") 0 0 repeat;
    left: 0;
    right: 0;
    bottom: 0; }
  .receiveCoupon .reminder {
    margin-top: 53px;
    padding-left: 40px; }
    .receiveCoupon .reminder h3 {
      font-size: 28px;
      color: #555555;
      line-height: 100%; }
    .receiveCoupon .reminder .tips {
      margin-top: 44px;
      padding-left: 42px;
      font-size: 22px;
      color: #999; }
      .receiveCoupon .reminder .tips p {
        line-height: 28px; }
  .receiveCoupon .clickReceive {
    width: 680px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
    color: #555555;
    margin: 78px auto 0;
    -webkit-box-shadow: 0 10px 5px #d2d1ce;
    -moz-box-shadow: 0 10px 5px #d2d1ce;
    box-shadow: 0 5px 10px #d2d1ce;
    /*no*/
    display: block;
    background-color: #FFFFFF;
    border-radius: 5px; }

.receiveSuccess {
  width: 720px;
  margin: 0 auto; }
  .receiveSuccess .success {
    height: 300px;
    text-align: center;
    background-color: #5e6b85;
    overflow: hidden; }
    .receiveSuccess .success p {
      font-size: 28px;
      color: #FFFFFF; }
  .receiveSuccess .right {
    width: 96px;
    height: 96px;
    background: url("../images/right.png") 0 0 no-repeat;
    background-size: contain;
    margin: 57px auto 54px; }
  .receiveSuccess .cont {
    height: 205px;
    text-align: center;
    color: #999999;
    font-size: 24px;
    background-color: #fff;
    padding-top: 26px; }
    .receiveSuccess .cont p {
      line-height: 36px; }
  .receiveSuccess .lookCoupon {
    width: 680px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
    margin: 30px auto 0;
    display: block;
    background-color: #ff8400;
    border-radius: 5px; }

.voucherDetails {
  width: 720px;
  margin: 20px auto 0;
  color: #999; }
  .voucherDetails .details {
    padding: 32px 20px;
    background-color: #FFFFFF; }
  .voucherDetails .shopName {
    font-size: 28px;
    color: #555;
    line-height: 100%;
    margin-bottom: 26px; }
  .voucherDetails .time {
    line-height: 100%;
    font-size: 22px; }
  .voucherDetails .validity {
    line-height: 100%; }
  .voucherDetails .sold {
    line-height: 100%;
    color: #ec3e27; }
  .voucherDetails .mt {
    margin-top: 10px; }
  .voucherDetails .priceBox {
    background-color: #FFFFFF;
    padding: 16px 20px; }
  .voucherDetails .price {
    font-size: 26px;
    color: #ff8400;
    margin-bottom: 16px; }
  .voucherDetails .price2 {
    font-size: 22px; }
  .voucherDetails .shareBox {
    display: block;
    height: 90px;
    line-height: 90px;
    padding: 0 20px;
    font-size: 28px;
    background-color: #FFFFFF;
    position: relative; }
  .voucherDetails .leftArrow {
    width: 13px;
    height: 22px;
    background: url("../images/left-arrow.png") 0 0 no-repeat;
    background-size: contain;
    right: 20px; }
  .voucherDetails .rule {
    height: 90px;
    line-height: 90px;
    padding: 0 20px;
    font-size: 28px;
    color: #333; }
  .voucherDetails .ruleCont {
    padding: 30px 25px 44px;
    font-size: 22px;
    color: #999;
    background-color: #FFFFFF; }
    .voucherDetails .ruleCont p {
      margin: 5px 0; }
  .voucherDetails .clickReceive {
    width: 680px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
    color: #FFFFFF;
    margin: 74px auto 0;
    display: block;
    background-color: #ff8400;
    border-radius: 5px; }

/*# sourceMappingURL=maps/main.css.map */
