@import "base.scss";
.activityRule{
	width: 720px;
	margin: 0 auto;
	h3{
		margin: 58px auto 42px;
		@include font-dpr(14px);
		color: #555555;
		text-align: center;
	}
	.activity{
		padding: 0 20px 30px;
		h4{
			@include font-dpr(14px);
			color: #555;
			margin-bottom: 16px;
		}
	}
	.activityCont{
		@include font-dpr(13px);
		color: #999;
		padding-left: 22px;
		line-height: 44px;
	}
}