@import "base";

//input样式
input::-webkit-input-placeholder{
	@include font-dpr(14px);
	color:#999;
}
input:-moz-placeholder{
	@include font-dpr(14px);
	color:#999;
}
input::-moz-placeholder{
	@include font-dpr(14px);
	color:#999;
}
input:-ms-input-placeholder{
	@include font-dpr(14px);
	color:#999;
}
/*订单列表公共头*/
.statusBar{
	@include LRcenter(720);
	height: 100px;
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 100;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	li{
		width: 20%;
		float: left;
		@include lineHeightEQHeight(100px);
	}
	a{
		width: 100%;
		line-height: normal;
		color: #666;
		display: inline-block;
		@include borderR-dpr();
		@include font-dpr(14px);
		text-align: center;
	}
	li:last-child a{
		border-right: none;/*no*/
	}
}
.selected{
	@include borderB-dpr(2px,solid,#ff8400);
}
.selected a{
	color: #ff8400;
}

.common_noOrder{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

//没有订单的样式
.common_noOrder .bigfont{
	@include font-dpr(15px);
	color: #333;
	line-height: 100%;
}
.common_noOrder .smallfont{
	@include font-dpr(10px);
	color: #999;
	line-height: 100%;
	margin-top: 16px;
}