@import "base.scss";
.moreBenefits{
	width: 720px;
	margin: 20px auto 0;
	background-color: #FFFFFF;
	padding-left: 20px;
	.benefitsBox{
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		@include baceBorderB();
		.now{
			width: 114px;
			@include lineHeightEQHeight(40px);
			@include font-dpr(10px);
			color: #fff;
			text-align: center;
			right: 20px;
			background-color: #ff8400;
			@include bdr-radius(5px);
		}
		.clickActive{
			background-color: #e3e3e3;
		}
	}
	.benefitsBox:last-child{
		border-bottom: none;
	}
	.benefitsImg{
		width: 134px;
		height: 100px;
		margin-right: 20px;
		img{
			width: 100%;
		}
	}
	.benefitsFont{
		@include font-dpr(12px);
		color: #999;
		.mt{
			margin-top: -8px;
		}
		.numb{
			@include font-dpr(18px);
			color: #ff8400;
		}
		p{
			margin: 12px auto;
		}
	}
}