@import "base.scss";
.payBill{
	width: 720px;
	margin: 0 auto;
	@include font-dpr(14px);
	.total{
		margin-top: 10px;
		padding: 26px 20px;
		background-color: #FFFFFF;
		@include baceBorderB();
	}
	.totalInner{
		height: 82px;
		line-height: 82px;
		background-color: #efefef;
		@include bdr-radius();
		label{
			color: #333333;
			padding-left: 27px;
		}
		input{
			width: 75%;
			height: 28px;
			background-color: #efefef;
		}

	}
	.coupons{
		display: block;
		padding: 0 46px;
		background-color: #FFFFFF;
		@include baceBorderB();
		position: relative;
	}
	.couponLeft{
		height: 77px;
		line-height: 77px;
		color: #555;
	}
	.left_arrow{
		width: 13px;
		height: 22px;
		right: 46px;
		background: url("../images/left-arrow.png") 0 0 no-repeat;
		background-size: contain;
	}
	.surePay{
		display: block;
		width: 680px;
		height: 82px;
		margin: 45px auto 0;
		line-height: 82px;
		text-align: center;
		color: #FFFFFF;
		@include bdr-radius();
		background-color: #ff8400;
	}
}