@import "base";
.tips {
	width: 200px;/*no*/
	height: 50px;/*no*/
	line-height: 50px;/*no*/
	text-align: center;
	position: relative;
	margin: 20px auto;/*no*/
	border: 1px solid orange;/*no*/
	border-radius: 3px;/*no*/

	.caret {
		top: 10px;/*no*/
		left: -10px;/*no*/
		@include caret(10px,2px,left,orange,#fff);/*no*/
	}
}