@import "base.scss";
.useCoupon{
	width: 720px;
	margin: 0 auto;
	.tips{
		height: 78px;
		line-height: 78px;
		text-align: center;
		@include font-dpr(11px);
		color: #555;
		background-color: #f8f6f3;
	}
	.out{
		overflow: hidden;
	}
	.noUse{
		display: block;
		width: 680px;
		height: 73px;
		line-height: 73px;
		text-align: center;
		margin: 26px auto 38px;
		@include font-dpr(14px);
		color: #999;
		border: 1px solid #e3e3e3;
		@include bdr-radius();
	}
	.couponBox{
		width: 629px;
		height: 162px;
		margin: 14px auto;
		background: url("../images/coupon.png") 0 0 no-repeat;
		background-size: contain;
		overflow: hidden;
		position: relative;
		.nowUse{
			display: block;
			width: 211px;
			height: 62px;
			line-height: 62px;
			color: #7c4f23;
			@include font-dpr(17px);
			text-align: center;
			position: absolute;
			right: 36px;
			top: 46px;
		}
		p{
			color: #FFFFFF;
			padding-left: 55px;
		}
		.p1{
			margin-top: 28px;
			@include font-dpr(17px);
			span{
				@include font-dpr(24px);
				font-weight: bolder;
			}
		}
		.p2{
			margin-top: 14px;
			@include font-dpr(11px);
		}
	}
	.couponBoxPost{
		background: url("../images/coupon2.png") 0 0 no-repeat;
		background-size: contain;
		.nowUse{
			color: #666;
		}
	}
}