.receiveCoupon {
  width: 720px;
  margin: 0 auto; }
  .receiveCoupon .couponBox {
    width: 680px;
    height: 246px;
    margin: 20px auto;
    background-color: #f78f05;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 5px #d2d1ce;
    -moz-box-shadow: 0 10px 5px #d2d1ce;
    box-shadow: 0 5px 10px #d2d1ce;
    /*no*/
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .receiveCoupon .couponBox h3 {
      font-size: 12px;
      /*no*/
      margin: 38px auto 48px;
      line-height: 100%; }
      [data-dpr="2"] .receiveCoupon .couponBox h3 {
        font-size: 24px;
        /*no*/ }
      [data-dpr="3"] .receiveCoupon .couponBox h3 {
        font-size: 36px;
        /*no*/ }
  .receiveCoupon .extras {
    font-size: 15px;
    /*no*/
    line-height: 100%; }
    [data-dpr="2"] .receiveCoupon .extras {
      font-size: 30px;
      /*no*/ }
    [data-dpr="3"] .receiveCoupon .extras {
      font-size: 45px;
      /*no*/ }
    .receiveCoupon .extras span {
      font-size: 23px;
      /*no*/ }
      [data-dpr="2"] .receiveCoupon .extras span {
        font-size: 46px;
        /*no*/ }
      [data-dpr="3"] .receiveCoupon .extras span {
        font-size: 69px;
        /*no*/ }
  .receiveCoupon .validity {
    height: 70px;
    line-height: 70px;
    font-size: 12px;
    /*no*/
    position: absolute;
    background: url("../images/opacity.png") 0 0 repeat;
    left: 0;
    right: 0;
    bottom: 0; }
    [data-dpr="2"] .receiveCoupon .validity {
      font-size: 24px;
      /*no*/ }
    [data-dpr="3"] .receiveCoupon .validity {
      font-size: 36px;
      /*no*/ }
  .receiveCoupon .reminder {
    margin-top: 53px;
    padding-left: 40px; }
    .receiveCoupon .reminder h3 {
      font-size: 14px;
      /*no*/
      color: #555555;
      line-height: 100%; }
      [data-dpr="2"] .receiveCoupon .reminder h3 {
        font-size: 28px;
        /*no*/ }
      [data-dpr="3"] .receiveCoupon .reminder h3 {
        font-size: 42px;
        /*no*/ }
    .receiveCoupon .reminder .tips {
      margin-top: 44px;
      padding-left: 42px;
      font-size: 11px;
      /*no*/
      color: #999; }
      [data-dpr="2"] .receiveCoupon .reminder .tips {
        font-size: 22px;
        /*no*/ }
      [data-dpr="3"] .receiveCoupon .reminder .tips {
        font-size: 33px;
        /*no*/ }
      .receiveCoupon .reminder .tips p {
        line-height: 28px; }
  .receiveCoupon .clickReceive {
    width: 680px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 14px;
    /*no*/
    color: #555555;
    margin: 78px auto 0;
    -webkit-box-shadow: 0 10px 5px #d2d1ce;
    -moz-box-shadow: 0 10px 5px #d2d1ce;
    box-shadow: 0 5px 10px #d2d1ce;
    /*no*/
    display: block;
    background-color: #FFFFFF;
    border-radius: 5px; }
    [data-dpr="2"] .receiveCoupon .clickReceive {
      font-size: 28px;
      /*no*/ }
    [data-dpr="3"] .receiveCoupon .clickReceive {
      font-size: 42px;
      /*no*/ }
